table{

    margin-top: 20px;

    width: 100%;

}

table th, table td{

    border: 3px solid #777777;

    padding: 4px 10px;

    text-align: center;

}

.edit_col{

    width: 50px;

}

.fa-edit{

    cursor: pointer;

}

#update_btn{

    display: none;

}

.container{

    margin-top: 50px;

}

.main_title{

    margin-bottom: 20px;

}

label{

    display: block;

}

.inputs_div div{

    padding: 2px;

}

.inputs_div div input, .inputs_div div select{

    width: 100%;

}

.inputs_div div select{

    height: 30px;

}

#create_btn, #update_btn{

    margin: 5px 0px 5px 0px;

    width: 100%;

}

.inputs_div, .search_div{

    border: 2px solid #777777;

    padding: 15px;

    margin-top: 20px;

}

.search_div label{

    margin: 0px 10px 5px 5px;

}

.error_div{
    width: 100%;
}
